#progress {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
  opacity: 1;
}

#progress .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.linear-progress {
  background: #bbdefb;
  height: 10px;
  position: relative;
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-animation: start 0.3s ease-in;
  animation: start 0.3s ease-in;
  margin-bottom: 1rem;
}

.linear-progress.small {
  width: 60%;
  height: 2px;
}

.linear-progress .bar {
  position: absolute;
  background: #1565c0;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.linear-progress .bar1 {
  -webkit-animation: progressLinearMovement 2.5s infinite;
  animation: progressLinearMovement 2.5s infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.linear-progress .bar2 {
  left: -100%;
  -webkit-animation: progressLinearMovement 2.5s infinite;
  animation: progressLinearMovement 2.5s infinite;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@-webkit-keyframes progressLinearMovement {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes progressLinearMovement {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
