/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.tau-chart__layout__sidebar-right {
		display: none;
	}

	nav .navbar {
		flex-direction: column;
	}

	nav .navbar .select {
		box-sizing: border-box;
		padding-top: 1rem;
		height: 54px;
		max-width: 100%;
	}

	nav {
		padding: 1rem 1rem;
	}

	.title {
		font-size: 1.2rem;
	}

	section {
		padding: 1rem 1rem;
	}

	footer {
		padding: 0rem 1rem 3rem;
	}
	.lang {
		padding-left: 0;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	.tau-chart__layout__sidebar-right {
		display: none;
	}

	nav .navbar {
		flex-direction: column;
	}

	nav .navbar .select {
		box-sizing: border-box;
		padding-top: 1rem;
		height: 54px;
		max-width: 100%;
	}

	nav {
		padding: 1rem 1rem;
	}

	.title {
		font-size: 1.2rem;
	}

	section {
		padding: 1rem 1rem;
	}

	footer {
		padding: 0rem 1rem 3rem;
	}
	.lang {
		padding-left: 0;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1356px) {
	.tau-chart__layout__sidebar-right {
		display: block;
	}
	nav .navbar {
		flex-direction: column;
	}
	nav {
		padding: 1rem 1rem;
	}
	nav .navbar .select {
		box-sizing: border-box;
		padding-top: 1rem;
		height: 54px;
		max-width: 485px;
	}
	.lang {
		padding-left: 0;
	}
}
