* {
	margin: 0;
	padding: 0;
}

/*
Variable declarations
 */
:root {
	--main-bg-color: #008080;
	--secondary-bg-color: #ddeae8;
	--main-text-color: #4a4a4a;
	--secondary-text-color: #505050;
}

html,
body {
	background-color: #fff;
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 100%;
	width: 100%;
	flex-direction: column;
	/*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ece0e0' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
}

footer {
	color: var(--main-text-color);
	padding: 0rem 3rem 3rem;
	box-sizing: border-box;
}

nav {
	box-shadow: 0 2px 0 0 #f5f5f5;
	padding: 1.5rem 3rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

nav .title {
	flex: 1;
}

nav .select-boxes {
	flex: 1;
	display: flex;
}

nav select {
	height: 38px;
	margin-top: 6px;
}

nav .select {
	flex: 1;
	max-width: 360px;
}

select {
	font-size: 1rem;
	padding: 6px 20px;
	border: 1px solid #ddd;
	color: var(--main-text-color);
	outline: none;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

.lang {
	padding-left: 1rem;
}

section {
	padding: 1rem 3rem;
	box-sizing: border-box;
	/*height: calc(100vh - 100px);*/
	height: 80vh;
}

.divider {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	margin: 24px auto;
	width: 100%;
}

.vdivider {
	position: relative;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	margin: auto 24px;
	height: 40vh;
}

#bar {
	width: 100%;
	height: 100%;
	padding-top: 1.5rem;
	box-sizing: border-box;
}

#bar > svg {
	display: block;
}

footer .last_updated {
	font-weight: 500;
}

.flex {
	display: flex;
}

.flex-item {
	flex: 1;
}

.bar_chart {
	height: 100%;
}

.category,
.rr {
	height: 40vh;
}

.title {
	font-size: 1.5rem;
	color: var(--main-text-color);
}

.subtitle {
	font-size: 1.2rem;
	color: var(--main-text-color);
}

.nheight {
	height: 20vh;
}

.nheight .flex {
	align-items: center;
}

.nheight .vdivider {
	height: 100%;
}

.numbers {
	text-align: center;
	color: var(--main-text-color);
	padding: 1rem;
	box-sizing: border-box;
}

.numbers .count {
	font-size: 5rem;
}

footer .content {
	display: flex;
	box-sizing: border-box;
}

footer .didyouknow {
	padding-right: 1rem;
}
