* {
	margin: 0;
	padding: 0;
}

/*
Variable declarations
 */
:root {
	--main-bg-color: #008080;
	--secondary-bg-color: #ddeae8;
	--main-text-color: #4a4a4a;
	--secondary-text-color: #505050;
}

html,
body {
	background-color: #fff;
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	overflow-x: hidden;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

section {
	padding: 3rem;
	box-sizing: border-box;
}

.divider {
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	margin: 24px auto;
	width: 100%;
}

.vdivider {
	position: relative;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	margin: auto 24px;
	height: 40vh;
}

.container {
	margin: 0 auto;
	position: relative;
	max-width: 100%;
}

#bar {
	width: 100%;
	height: 100%;
	padding-top: 1.5rem;
	box-sizing: border-box;
}

#bar > svg {
	display: block;
}

#last_updated {
	color: #b2182b;
	font-weight: 500;
	margin-top: 6px;
}

header {
	margin-bottom: 1.5rem;
}

.flex {
	display: flex;
}

.flex-item {
	flex: 1;
}

.bar_chart {
	height: 100%;
}

.primary {
	height: 80vh;
}

.category,
.rr {
	height: 40vh;
}

.title {
	font-size: 1.5rem;
	color: var(--main-text-color);
}

.subtitle {
	font-size: 1.2rem;
	color: var(--main-text-color);
}
